; -*- mode: clojure; -*-
; vim: filetype=clojure

;;(load-plugins)
(tcp-server {:host "0.0.0.0" :port 5555})
(udp-server {:host "0.0.0.0" :port 5555})
(ws-server {:host "0.0.0.0"})
(logging/init :file "/var/log/riemann/riemann.log")
(periodically-expire 10)

(streams
 (let [store (index)]
   (default {:ttl 60 :state "ok"}

     (where (service "url-shortener.creation-time")
            (with {:metric 1.0 :service "short link creation rate"}
                  (rate 60 store)
                  ))

     (where (and (service "memory/percent-used")
                 (< 60 metric))
            (with :state "warning" store)
            (else store))
)))
