; -*- mode: clojure; -*-
; vim: filetype=clojure

;; listening services

;;(load-plugins)
(tcp-server {:host "0.0.0.0" :port 5555})
(udp-server {:host "0.0.0.0" :port 5555})
(repl-server {:host "0.0.0.0"})
(ws-server {:host "0.0.0.0"})

(logging/init :file "/var/log/riemann/riemann.log")

(def email (mailer {:from "riemann@exoscale.ch"}))

(periodically-expire 10)

(streams
 (let [store (index)]
   (default {:ttl 60 :state "ok"}
     store)))
